.home-page {
  max-width: 100vw;
  overflow-x: hidden;
}

.intro-page {
  align-content: center;
  margin-top: 70px;
}

#homeIcon {
  position: fixed;
  right: 60px;
  bottom: 35px;
  cursor: pointer;
}